.tscontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex: wrap;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 868px) {
  .tscontainer {
    width: 95% !important;
    display: block;
  }
}